body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-noto-sans: "Noto Sans";
  --font-noto-music: "Noto Music";
  --font-noto-looped-thai: "Noto Looped Thai";
  --font-outfit: Outfit;
  --font-museomoderno: MuseoModerno;
  --font-pacifico: Pacifico;
  --font-noto-sans-thai-looped: "Noto Sans Thai Looped";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-darkolivegreen: #416d19;
  --color-black: #000;
  --color-gray-100: #140f0f;
  --color-gray-200: rgba(0, 0, 0, 0.2);
  --color-gray-300: rgba(0, 0, 0, 0.51);
  --color-gainsboro: rgba(217, 217, 217, 0.1);
  --color-palegreen: #81e978;
  --color-darkseagreen: rgba(170, 203, 161, 0.36);
  --color-aqua: #5afaf1;
  --color-whitesmoke: rgba(243, 243, 243, 0);

  /* Gaps */
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-2xl: 21px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-69xl: 88px;
  --gap-25xl: 44px;
  --gap-lgi: 19px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-493xl: 512px;
  --padding-237xl: 256px;
  --padding-41xl: 60px;
  --padding-45xl: 64px;
  --padding-28xl: 47px;
  --padding-lg: 18px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-14xl: 33px;
  --padding-17xl: 36px;
  --padding-9xl: 28px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-27xl: 46px;
  --padding-39xl: 58px;
  --padding-12xl: 31px;
  --padding-xs: 12px;
  --padding-15xl: 34px;
  --padding-20xl: 39px;
  --padding-22xl: 41px;
  --padding-base: 16px;
  --padding-8xl: 27px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-16xl: 35px;
  --padding-68xl: 87px;
  --padding-30xl: 49px;
  --padding-34xl: 53px;
  --padding-3xs: 10px;
  --padding-11xs-1: 1.1px;
  --padding-11xs-5: 1.5px;
  --padding-7xs: 6px;
  --padding-59xl-6: 78.6px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-11xs-2: 1.2px;
  --padding-8xl-5: 27.5px;
  --padding-xl-5: 20.5px;
  --padding-11xl-5: 30.5px;
  --padding-48xl: 67px;
  --padding-lgi: 19px;
  --padding-2xs: 11px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-41xl: 60px;
}
