.logo {
  height: 117px;
  width: 179px;
  position: relative;
  object-fit: cover;
}
.hsi7 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  font-size: 20px;
}
.hsi-wrapper5 {
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl-5);
  white-space: nowrap;
}
.quan-h-c7 {
  position: relative;
}
.instance-wrapper10,
.quan-h-c-ng-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quan-h-c-ng-wrapper5 {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-11xl-5);
  white-space: nowrap;
  z-index: 1;
}
.instance-wrapper10 {
  flex: 1;
  flex-direction: column;
  
}
.tin-tc7 {
  /*margin-top: -1.5px;*/
  width: 69px;
  position: relative;
  display: inline-block;
  min-width: 69px;
  font-size: 20px;
}
.tin-tc-wrapper5 {
  /*height: 32px;*/
  align-items: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xl-5);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-3xl);
}
.instance-parent6,
.output-port-inner,
.tin-tc-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent6 {
  align-self: stretch;
  flex-direction: row;
}
.output-port-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-16xl) var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.thnh-vin15 {
  position: relative;
  display: inline-block;
  min-width: 107px;
}
.thnh-vin-wrapper8 {
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
/*.n-v-trc7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.n-v-trc-thuc-wrapper5 {
  width: 397px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  min-height: 35px;
  white-space: nowrap;
  max-width: 245%;
  flex-shrink: 0;
}
.cng-ty-con7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cng-ty-con-vn-50-wrapper5 {
  width: 397px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  min-height: 35px;
  white-space: nowrap;
  max-width: 245%;
  flex-shrink: 0;
}
.cng-ty-lin7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cng-ty-lin-doanh-lin-kt-v-wrapper5 {
  width: 397px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  min-height: 35px;
  white-space: nowrap;
  max-width: 245%;
  flex-shrink: 0;
}
.frame-parent76 {
  height: 82.7px;
  width: 162px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.thnh-vin-wrapper7,
.thnh-vin14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thnh-vin14 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-59xl-6);
}
.thnh-vin-wrapper7 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-3xs) 0 0;
}
.g7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.g-wrapper5 {
  width: 217px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.dm-g9 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.dm-g-wrapper5 {
  width: 217px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.trng-rng7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.trng-rng-wrapper5 {
  width: 217px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.thng-mi-dch7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.thng-mi-dch-v-wrapper5 {
  width: 217px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.frame-parent77 {
  height: 57.9px;
  width: 159px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}*/



.sn-phm7 {
  position: relative;
  display: inline-block;
  min-width: 101px;
}

.lienhe{
  position: relative;
  display: inline-block;
  align-self: stretch;
}


/*.menu7,
.sn-phm-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sn-phm-wrapper5 {
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-11xs-5) var(--padding-9xl);
  white-space: nowrap;
}
.menu7 {
  padding: 0 0 var(--padding-22xl);
  z-index: 1;
}
.lin-h-icon7 {
  align-self: stretch;
  
  border-radius: var(--br-41xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}*/
.lin-h-wrapper3 {
  flex-direction: column;

  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
}
.frame-parent75,
.lin-h-wrapper3,
.output-port-child {
  display: flex;
  align-items: flex-start;
  justify-content:center;
  gap: 60px
}
.frame-parent75 {
  align-self: stretch;
  flex-direction: row;
}
.output-port-child {
  width: 473px;
  flex-direction: column;
  padding: var(--padding-14xl) var(--padding-lgi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  
}
.v-chng-ti7 {
  /*margin-top: -1.5px;
  width: 132px;*/
  position: relative;
  display: inline-block;
  font-size: 20px;
}
.v-chng-ti-wrapper5 {
  /*height: 32px;*/
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  white-space: nowrap;
}
.output-port,
.output-port-inner1,
.v-chng-ti-wrapper5 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.output-port-inner1 {
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  text-align: center;
  font-size: var(--font-size-3xl);
}
.output-port {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi);
  max-width: 100%;
  
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-museomoderno);
}
/*.tt1 {
  text-transform: capitalize;
}*/
/*.tt-c-sn-container1 {
  width: 154px;
  position: relative;
  line-height: 27.2px;
  display: inline-block;
}*/
.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-18xl);
  color: var(--color-palegreen-100);
}
/*.tt-c-sn6 {
  height: 32px;
  width: 108px;
  position: relative;
  display: inline-block;
  min-width: 108px;
}*/



.bn7:hover,
.gh9:hover,
.gh-tm-nng-container4:hover,
.gh-di9:hover,
.k-t4:hover,
.xe-y-tr9:hover,
.tt-c-sn6:hover {
  color: #81E978;
}

a:link, a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: none;
  color:#81E978;
  .xem-thm20{
    color: black;
  }
}



.b-bn-gh-wrapper1,
.b-bn-gh3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b-bn-gh-wrapper1 {
  padding: 0 var(--padding-17xl);
}
.bn8 {
  height: 32px;
  width: 37px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 37px;
}
.bn7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl);
}
.gh9 {
  height: 32px;
  width: 39px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 39px;
}
.gh-frame,
.gh8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-16xl);
}
.gh-frame {
  padding: 0 var(--padding-12xs);
}
.span6 {
  text-transform: capitalize;
  white-space: pre-wrap;
}
.gh-tm-nng-container4 {
  height: 32px;
  position: relative;
  display: inline-block;
}
.gh-tm-nng-wrapper3,
.gh-tm-nng4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gh-tm-nng4 {
  height: 30px;
  padding: 0;
  box-sizing: border-box;
}
.gh-tm-nng-wrapper3 {
  padding: 0 var(--padding-xl) 0 var(--padding-18xl);
}
.gh-di9 {
  height: 32px;
  width: 73px;
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.gh-di-wrapper1,
.gh-di8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-lg);
}
.gh-di-wrapper1 {
  padding: 0 var(--padding-lgi);
}
.k-t4 {
  height: 32px;
  width: 60px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 60px;
}
.kt-frame,
.kt3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.kt-frame {
  padding: 0 var(--padding-2xs);
}
.xe-y-tr9 {
  width: 94px;
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.xe-y-tr8 {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.quote-shape,
.submit-button-parent,
.xe-y-tr-wrapper1,
.xe-y-tr8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.xe-y-tr-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
}
.quote-shape,
.submit-button-parent {
  flex-direction: column;
}
.submit-button-parent {
  gap: var(--gap-26xl-3);
}
.quote-shape {
  padding: var(--padding-smi) 0 0;
}
.checkbox-label-child {
  /*width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box; */

  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.checkbox-label {
  height: 579px;
  /*display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 0;
  box-sizing: border-box;
*/

align-self: stretch;
width: 51px;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;

}



.k-bpvariant3-child3 {
  width: 100%;
  height: 243px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid black;
}
.t-bp-icon6 {
  height: 235px;
  width: 235px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.t-bp-wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.k-bp-ngoi6,
.mt {
  margin: 0;
}
.k-bp-ngoi-container {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.k-bp-ngoi-tri-mt-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.data-gatherer {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  
}
.xem-thm20 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.nt-xem-thm20 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  position: relative;
  white-space: nowrap;
}
.k-bp5,
.k-bpvariant35,
.nt-xem-thm20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.k-bpvariant35 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  position: relative;
  gap: var(--gap-11xs);
}


.k-bpvariant35:hover {
  .k-bpvariant3-child3{
    border-color:#81E978;
  }
   
  .k-bp-ngoi6, 
  .mt {
    color:#81E978;
  }
  .data-gatherer{
    background-color:#AAF0A4;
  }
}



.k-bp5 {
  height: 348px;
  width: 243px;
  flex-shrink: 0;
  flex-direction: row;
}
.bn-n-child2,
.image-14-icon6 {
  position: absolute;
  height: 69.83%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 30.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  border: 1px solid black;
  border-radius: var(--br-8xs);
}
.image-14-icon6 {
  object-fit: cover;
}
.bn-n-child2 {
  border-radius: var(--br-8xs);
  z-index: 1;
}
.bn-n-hnh6 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.bn-n-hnh-ch-nht-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xem-thm21 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent78,
.nt-xem-thm21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm21 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  position: relative;
  white-space: nowrap;
}
.frame-parent78 {
  position: absolute;
  top: 243px;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.bn-n5 {
  height: 348px;
  width: 243px;
  position: relative;
  background-color: var(--color-white);
  flex-shrink: 0;
}
.image-15-icon10 {
  /*height: 176px;*/
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid black;
  border-radius: var(--br-8xs);
}
.frame-child55 {
  height: 243px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
 
}
.image-15-parent8 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border: 0 solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /*padding: var(--padding-16xl) 0 var(--padding-13xl);*/
  z-index: 1;
}
.b-1-bn10 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.b-1-bn-2-gh-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child18 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm22 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent79,
.frame-parent80,
.nt-xem-thm22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm22 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.frame-parent79,
.frame-parent80 {
  flex-direction: column;
}
.frame-parent80 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.frame-parent79 {
  height: 348px;
  width: 243px;
  flex-shrink: 0;
}
.frame-child56,
.image-16-icon {
  height: 243px;
  width: 243px;
  position: relative;
}
.image-16-icon {
  object-fit: cover;
  display: none;
  min-height: 243px;
}
.frame-child56 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  z-index: 1;
}
.image-16-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.gh-xp-aruba {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.connected-component {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child19 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm23 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.connected-component-parent,
.gh-xp,
.nt-xem-thm23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm23 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.connected-component-parent,
.gh-xp {
  flex-direction: column;
}
.connected-component-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.gh-xp {
  height: 348px;
  width: 243px;
  flex-shrink: 0;
}
.frame-child57,
.image-17-icon {
  height: 243px;
  width: 243px;
  position: relative;
}
.image-17-icon {
  object-fit: cover;
  display: none;
  min-height: 243px;
  border-radius: var(--br-8xs);
  
}
.frame-child57 {
  border-radius: var(--br-8xs);
  border: 1px solid black;
  z-index: 1;
}
.image-17-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.gh-tm-nng6 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.gh-tm-nng-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child20 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm24 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent81,
.gh-tm-nng5,
.nt-xem-thm24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm24 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.frame-parent81,
.gh-tm-nng5 {
  flex-direction: column;
}
.frame-parent81 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.gh-tm-nng5 {
  height: 348px;
  width: 243px;
  flex-shrink: 0;
}
.image-18-icon {
  height: 195px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child58 {
  height: 243px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.image-18-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 var(--padding-mid);
  z-index: 1;
}
.gh-3-ch1 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.gh-3-ch-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child21 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm25 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent82,
.nt-xem-thm25 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm25 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.frame-parent82 {
  flex-direction: column;
  gap: 31px;
}
.gh-3-ch,
.radiobutton-label {
  flex-shrink: 0;
  justify-content: flex-start;
}
.gh-3-ch {
  height: 348px;
  width: 243px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
.radiobutton-label {
  height: 860px;
  width: 871px;
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 164px 69px;
}
.facebook-icon-inner,
.quote-shape-parent,
.radiobutton-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.quote-shape-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.facebook-icon-inner {
  width: 1360px;
  justify-content: flex-end;
  padding: 0 var(--padding-24xl);
  box-sizing: border-box;
}
.facebook-icon-wrapper,
.facebook-icon5 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.facebook-icon5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-71xl);
}
.facebook-icon-wrapper {
  width: 1383px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
.frame-child59,
.image-19-icon {
  height: 243px;
  width: 243px;
  position: relative;
}
.image-19-icon {
  object-fit: cover;
  display: none;
  min-height: 243px;
}
.frame-child59 {
  border-radius: var(--br-8xs);
  border: 1px solid black;
  z-index: 1;
}
.image-19-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.xe-y-tr11 {
  flex: 1;
  position: relative;
}
.xe-y-tr-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child22 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm26 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent83,
.nt-xem-thm26,
.xe-y-tr10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm26 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.frame-parent83,
.xe-y-tr10 {
  flex-direction: column;
}
.frame-parent83 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.xe-y-tr10 {
  height: 348px;
}
.frame-child60,
.image-14-icon7 {
  height: 243px;
  width: 243px;
  position: relative;
}
.image-14-icon7 {
  object-fit: cover;
  display: none;
  min-height: 243px;
}
.frame-child60 {
  border-radius: var(--br-8xs);
  z-index: 1;
}
.image-14-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.bn-n7 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.bn-n-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child23 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm27 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.bn-n6,
.frame-parent84,
.nt-xem-thm27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm27 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.bn-n6,
.frame-parent84 {
  flex-direction: column;
}
.frame-parent84 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.bn-n6 {
  height: 348px;
}
.image-15-icon11 {
  height: 176px;
  width: 243px;
  position: relative;
  object-fit: cover;
}
.frame-child61 {
  height: 243px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.image-15-parent9 {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 0 solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 var(--padding-13xl);
  z-index: 1;
}
.b-1-bn11 {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.b-1-bn-2-gh-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.nt-xem-thm-child24 {
  height: 41px;
  width: 243px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm28 {
  height: 31px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.b-1-bn-2-gh9,
.frame-parent85,
.nt-xem-thm28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nt-xem-thm28 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-54xl) var(--padding-5xs);
  white-space: nowrap;
}
.b-1-bn-2-gh9,
.frame-parent85 {
  flex-direction: column;
}
.frame-parent85 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.b-1-bn-2-gh9 {
  height: 348px;
}
.hng-3,
.hng-3-wrapper {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.hng-3 {
  width: 871px;
  display: grid;
  justify-content: flex-start;
  gap: 71px;
  grid-template-columns: repeat(3, minmax(182px, 1fr));
}
.hng-3-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 385px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
.h22 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 21px;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4.7px 0 0;
  font-size: var(--font-size-17xl);
}
.aggregator-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightgreen-200);
  width: 100%;
  height: 100%;
}
.div8 {
  position: absolute;
  top: 2px;
  left: 12.9px;
  display: flex;
  align-items: center;
  width: 9.9px;
  min-width: 9.9px;
  z-index: 1;
}
.aggregator {
  align-self: stretch;
  height: 35px;
  position: relative;
}
.aggregator-wrapper {
  width: 34.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
}
.div9 {
  position: relative;
  display: inline-block;
  min-width: 25px;
}
.wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 15.4px var(--padding-xs) 0;
}
.div10 {
  position: relative;
  display: inline-block;
  min-width: 13px;
}
.wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) var(--padding-xs) 0;
}
.div11 {
  position: relative;
  display: inline-block;
  min-width: 14px;
}
.wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm-4) var(--padding-xs) 0;
}
.div12 {
  position: relative;
  display: inline-block;
  min-width: 23px;
  cursor: pointer;
}
.wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) var(--padding-xs) 0;
}
.h23 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 21px;
}
.frame-parent86,
.sn-phm-g-inner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent86 {
  width: 416px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sn-phm-g-inner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  box-sizing: border-box;
}
.footer-child5 {
  height: 318px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkolivegreen-100);
  display: none;
  max-width: 100%;
}
.output-generator-child {
  align-self: stretch;
  height: 108.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.counter-icon {
  position: absolute;
  height: 83.14%;
  width: 83.27%;
  top: 12.75%;
  right: 6%;
  bottom: 4.12%;
  left: 10.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.f7 {
  position: absolute;
  height: 109.8%;
  width: 83.64%;
  top: -9.8%;
  left: 10.91%;
  font-size: var(--font-size-5xl);
  text-decoration: underline;
  font-family: var(--font-noto-music);
  color: var(--color-black);
  text-align: left;
  display: none;
}
.comparator-icon,
.icbaseline-facebook7 {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.icbaseline-facebook7 {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 51px;
  flex: 1;
  overflow: hidden;
}
.comparator-icon {
  height: 39.3px;
  width: 48px;
  object-fit: contain;
}
.error-handler,
.queue-manager {
  display: flex;
  flex-direction: row;
}
.queue-manager {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.error-handler {
  width: 161.6px;
  height: 51px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg-8) 0 var(--padding-lgi);
  box-sizing: border-box;
}
.output-generator {
  height: 162.3px;
  width: 180.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs-1);
}
.a-ch-997,
.email-tctypisicogmailcom7,
.tel-0256-39470997,
.tng-cng-ty7 {
  margin: 0;
}
.tng-cng-ty-container8 {
  height: 198.8px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  font-family: noto sans;
}
.calculator1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-7) 0 0;
  max-width: 100%;
}
.calculator1,
.converter,
.footer7 {
  box-sizing: border-box;
}
.footer7 {
  align-self: stretch;
  background-color: var(--color-darkolivegreen-100);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-53xl-7) var(--padding-77xl-5) var(--padding-23xl-8)
    var(--padding-109xl);
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-noto-music);
}
.converter {
  width: 1443px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 140px;
  left: calc(50% - 721px);
  border-top: 1px solid var(--color-black);
  z-index: 1;
}
.sn-phm-g {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  gap: 148px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-museomoderno);
}
@media screen and (max-width: 1350px) {
  .quote-shape-parent {
    flex-wrap: wrap;
  }
  .facebook-icon-inner {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .hng-3-wrapper {
    padding-left: 192px;
    box-sizing: border-box;
  }
  .footer7 {
    justify-content: center;
  }
}
@media screen and (max-width: 1150px) {
  .hng-3 {
    gap: 71px 35px;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(182px, 316px));
  }
}
@media screen and (max-width: 800px) {
  .radiobutton-label {
    gap: 164px 34px;
  }
  .facebook-icon5 {
    gap: 45px 90px;
  }
  .hng-3 {
    grid-template-columns: minmax(182px, 1fr);
  }
  .hng-3-wrapper {
    padding-left: 96px;
    box-sizing: border-box;
  }
  .h22,
  .h23 {
    font-size: var(--font-size-10xl);
  }
  .footer7 {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .sn-phm-g {
    gap: 74px 148px;
  }
}
@media screen and (max-width: 450px) {
  .b-1-bn10,
  .bn-n-hnh6,
  .bn8,
  .gh-3-ch1,
  .gh-di9,
  .gh-tm-nng-container4,
  .gh-tm-nng6,
  .gh-xp-aruba,
  .gh9,
  .k-bp-ngoi-container,
  .k-t4,
  .tt-c-sn-container1,
  .tt-c-sn6,
  .xe-y-tr9 {
    font-size: var(--font-size-base);
  }
  .radiobutton-label {
    gap: 164px 17px;
  }
  .facebook-icon5 {
    gap: 22px 90px;
  }
  .b-1-bn11,
  .bn-n7,
  .xe-y-tr11 {
    font-size: var(--font-size-base);
  }
  .hng-3 {
    gap: 71px 18px;
  }
  .hng-3-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .h22 {
    font-size: var(--font-size-3xl);
  }
  .div10,
  .div11,
  .div12,
  .div8,
  .div9 {
    font-size: var(--font-size-base);
  }
  .h23 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent86 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .f7,
  .tng-cng-ty-container8 {
    font-size: var(--font-size-lgi);
  }
  .footer7 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sn-phm-g {
    gap: 37px 148px;
  }
}
