.thit-k-cha-c-tn-2-31 {
    width: 1053px;
    height: 884px;
    bottom: -110px;
    left: -597px;
  }
  .thit-k-cha-c-tn-2-21,
  .thit-k-cha-c-tn-2-31,
  .thit-k-cha-c-tn-2-4 {
    position: absolute;
    margin: 0 !important;
    object-fit: cover;
    filer: blur(5px)
  }
  .thit-k-cha-c-tn-2-4 {
    width: 1111px;
    height: 929px;
    top: 573px;
    left: -656px;
  }
  .thit-k-cha-c-tn-2-21 {
   width: 1195px;
    height: 884px;
    top: 140px;
    right: -800px;
  }
  .logoxauqtq-icon5 {
    height: 117px;
    width: 179px;
    position: relative;
    object-fit: cover;
    
  }
  .hsi5 {
    position: relative;
    display: inline-block;
    min-width: 92px;
  }
  .hsi-wrapper3 {
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xl-5);
    white-space: nowrap;
  }
  .quan-h-c5 {
    position: relative;
  }
  .quan-h-c-ng-wrapper3 {
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    padding: 0 var(--padding-11xl-5);
    white-space: nowrap;
    z-index: 1;
  }
  .frame-wrapper23,
  .instance-parent4,
  .quan-h-c-ng-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper23 {
    flex-direction: column;
    padding: var(--padding-16xl) var(--padding-lgi) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .tin-tc5 {
    margin-top: -1.5px;
    width: 69px;
    position: relative;
    display: inline-block;
    min-width: 69px;
  }
  .instance-wrapper5,
  .tin-tc-wrapper3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tin-tc-wrapper3 {
    height: 32px;
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 var(--padding-xl-5);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .instance-wrapper5 {
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    text-align: center;
    font-size: var(--font-size-3xl);
  }
  .thnh-vin11 {
    position: relative;
    display: inline-block;
    min-width: 107px;
  }
  .thnh-vin-wrapper5 {
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-5) var(--padding-8xl-5);
    white-space: nowrap;
  }

  
  

  .n-v-trc5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .n-v-trc-thuc-wrapper3 {
    width: 397px;
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
    min-height: 35px;
    white-space: nowrap;
    max-width: 245%;
    flex-shrink: 0;
  }
  .cng-ty-con5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .cng-ty-con-vn-50-wrapper3 {
    width: 397px;
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
    min-height: 35px;
    white-space: nowrap;
    max-width: 245%;
    flex-shrink: 0;
  }
  .cng-ty-lin5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .cng-ty-lin-doanh-lin-kt-v-wrapper3 {
    width: 397px;
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-smi);
    box-sizing: border-box;
    min-height: 35px;
    white-space: nowrap;
    max-width: 245%;
    flex-shrink: 0;
  }
  .frame-parent56 {
    height: 84.2px;
    width: 162px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  

  .thnh-vin10 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 80px;
  }
  .g5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .g-wrapper3 {
    width: 217px;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .dm-g7 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .dm-g-wrapper3 {
    width: 217px;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .trng-rng5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .trng-rng-wrapper3 {
    width: 217px;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-8xs);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .thng-mi-dch5 {
    height: 32px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .thng-mi-dch-v-wrapper3 {
    width: 217px;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .frame-parent57 {
    height: 57.9px;
    width: 159px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  

  .sn-phm5 {
    position: relative;
    display: inline-block;
    min-width: 101px;
  }
  .sn-phm-wrapper3 {
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-5) var(--padding-9xl);
    white-space: nowrap;
  }
  .menu5 {
    flex: 1;
    flex-direction: row;
    padding: 0 0 var(--padding-22xl);
    z-index: 1;
  }
  .frame-parent55,
  .frame-wrapper24,
  .logoxauqtq-parent1,
  .menu5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent55 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-2xl);
  }
  .frame-wrapper24,
  .logoxauqtq-parent1 {
    max-width: 100%;
  }
  .frame-wrapper24 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-14xl) 0 0;
    box-sizing: border-box;
  }
  .logoxauqtq-parent1 {
    width: 1087px;
    flex-direction: row;
    gap: var(--gap-lgi);
  }
  .v-chng-ti5 {
    margin-top: -1.5px;
    width: 132px;
    position: relative;
    display: inline-block;
  }
  .instance-wrapper6,
  .v-chng-ti-wrapper3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .v-chng-ti-wrapper3 {
    height: 32px;
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
    white-space: nowrap;
  }
  .instance-wrapper6 {
    flex-direction: column;
    padding: var(--padding-17xl) 0 0;
    text-align: center;
    font-size: var(--font-size-3xl);
  }
  .frame-header,
  .sn-phm-trng-rng-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-header {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-museomoderno);
  }
  .sn-phm-trng-rng-inner {
    width: 1405px;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) var(--padding-xs);
    box-sizing: border-box;
  }
  .rectangle {
    border: 0;
    background-color: var(--color-darkolivegreen-100);
    height: 100%;
    width: 100%;
    outline: 0;
    position: absolute;
    margin: 0 !important;
    top: -27px;
    left: -20px;
  }
  .frame-child42 {
    height: 283px;
    width: 570px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .quy-hoch-v {
    font-weight: 600;
  }
  .tng-cng-ty-container5 {
    flex: 1;
    position: relative;
    line-height: 27.2px;
    display: inline-block;
    max-width: 100%;
    z-index: 2;
  }
  .rectangle-parent13,
  .rectangle-parent14 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
 /* .rectangle-parent14 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    padding: var(--padding-sm) var(--padding-sm) var(--padding-smi)
      var(--padding-lgi);
    z-index: 1;
  }*/
  .rectangle-parent13 {
    position: relative;
    min-width: 370px;
  }
  .frame-child43 {
    border: 0;
    background-color: var(--color-darkolivegreen-100);
    height: 100%;
    width: 100%;
    outline: 0;
    position: absolute;
    margin: 0 !important;
    top: -27px;
    left: -18px;
    z-index: 1;
  }
  .frame-child44 {
    height: 283px;
    width: 568px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .pisico-khuyn-khch {
    height: 192px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 3;
  }
  .rectangle-parent16 {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-xl) var(--padding-mid)
      var(--padding-4xl);
    height: 252px;
    /*min-height: 283px;*/
    max-width: 100%;
    z-index: 2;
  }
  .rectangle-parent15 {
    flex: 1;
    justify-content: flex-start;
    position: relative;
    min-width: 370px;
  }
  .frame-parent58,
  .rectangle-parent15,
  .sn-phm-trng-rng-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent58 {
    width: 1217px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 79px;
  }
  .sn-phm-trng-rng-child {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-22xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  .phng-chm {
    height: 38px;
    position: relative;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
  }
  .phng-chm-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-28xl);
  }
  .gn-li-ch,
  .h1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .h1 {
    width: 32px;
    font-weight: 400;
  }
  .gn-li-ch {
    align-self: stretch;
    height: 48px;
    font-weight: 600;
  }
  .gn-li-ch-kinh-t-vi-bo-v-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) 0 0;
    box-sizing: border-box;
    min-width: 571px;
    max-width: 100%;
    font-size: 30px;
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  .h11 {
    margin: 0;
    color: #81e978;
    align-self: stretch;
    position: relative;
    font-size: 60px;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .parent,
  .wrapper2 {
    display: flex;
    align-items: flex-start;
  }
  .wrapper2 {
    width: 32px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-8xl) 0 0;
    box-sizing: border-box;
  }
  .parent {
    width: 954px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5px;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .frame-wrapper25,
  .l-mt-trong {
    align-self: stretch;
    
  }
  .frame-wrapper25 {
    margin-top: -22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-45xl);
    color: var(--color-limegreen);
    font-family: var(--font-aoboshi-one);
  }
  .l-mt-trong {
    height: 128px;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 27.2px;
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .frame-parent59,
  .sn-phm-trng-rng-inner1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent59 {
    width: 1196px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sn-phm-trng-rng-inner1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 89px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  .frame-child45 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-limegreen);
    border: 0 solid var(--color-white);
    z-index: 1;
  }
  .div8 {
    height: 38px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 14px;
    z-index: 2;
  }
  .ellipse-parent2,
  .wrapper3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper3 {
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
    margin-left: -32px;
  }
  .ellipse-parent2 {
    align-self: stretch;
    width: 50px;
    flex-direction: row;
    padding: 0 var(--padding-lg) 0 0;
    box-sizing: border-box;
  }
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4DE328;
    position: relative;
    top: -2px;
  }

  .vn-m-ging {
    height: 38px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 1;
  }
  .frame-parent61,
  .vn-m-ging-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vn-m-ging-wrapper {
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
  }
  .frame-parent61 {
    height: 50px;
    flex-direction: row;
    gap: var(--gap-8xs);
  }
  .xy-dng-t {
    align-self: stretch;
    height: 224px;
    position: relative;
    font-size: var(--font-size-xl);
    white-space: pre-wrap;
    display: inline-block;
    z-index: 1;
  }
  .frame-parent60,
  .sn-phm-trng-rng-inner2 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent60 {
    width: 560px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-26xl);
  }
  .sn-phm-trng-rng-inner2 {
    width: 804px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 97px;
    box-sizing: border-box;
  }
  .position-updater {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-limegreen);
    width: 100%;
    height: 100%;
  }
  .opacity-controller {
    position: absolute;
    top: 6px;
    left: 18px;
    font-weight: 600;
    display: inline-block;
    min-width: 14px;
    z-index: 1;
  }
  .position-updater-parent {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .rng-khuynh-dip {
    height: 38px;
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .frame-parent64,
  .rng-khuynh-dip-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rng-khuynh-dip-wrapper {
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
  }
  .frame-parent64 {
    flex-direction: row;
    gap: var(--gap-8xs);
  }
  .frame-child46 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-limegreen);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .div9 {
    position: absolute;
    top: 6px;
    left: 18px;
    font-weight: 600;
    display: inline-block;
    min-width: 14px;
    z-index: 2;
  }
  .ellipse-parent3 {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .rng-keo {
    height: 38px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 117px;
    z-index: 1;
  }
  .rng-keo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .frame-parent63,
  .frame-parent65,
  .frame-wrapper26 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frame-parent65 {
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .frame-parent63,
  .frame-wrapper26 {
    max-width: 100%;
  }
  .frame-parent63 {
    width: 931px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper26 {
    width: 1115px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .cay-keo-2-1-icon,
  .pisico-binh-dinh-1-icon {
    height: 386px;
    position: relative;
    border-radius: var(--br-3xs);
    max-width: 100%;
    object-fit: cover;
  }
  .pisico-binh-dinh-1-icon {
    width: 484px;
    min-height: 386px;
  }
  .cay-keo-2-1-icon {
    flex: 1;
    overflow: hidden;
    z-index: 1;
  }
  .n-1-icon,
  .thit-k-cha-c-tn-2-22 {
    position: absolute;
    top: 118px;
    left: 52px;
    width: 1398px;
    height: 884px;
    object-fit: cover;
  }
  .n-1-icon {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    width: 507px;
    height: 380px;
    z-index: 1;
  }
  .thit-k-cha-c-tn-2-2-group {
    height: 1002px;
    width: 629px;
    position: absolute;
    margin: 0 !important;
    top: -606px;
    right: -122px;
  }
  .cay-keo-2-1-parent {
    height: 386px;
    width: 484px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
  }
  .pisico-binh-dinh-1-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-parent62,
  .pisico-binh-dinh-1-parent,
  .sn-phm-trng-rng-inner3 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent62 {
    width: 1196px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .sn-phm-trng-rng-inner3 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  .iconifier,
  .mt-s-kt {
    position: relative;
    z-index: 1;
  }
  .mt-s-kt {
    margin: 0;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 400;
    font-family: noto sans;
   
  }
  .iconifier {
    align-self: stretch;
    height: 3px;
    border-top: 3px solid var(--color-darkolivegreen-300);
    box-sizing: border-box;
  }
  .frame-wrapper27,
  .mt-s-kt-qu-t-c-trong-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .mt-s-kt-qu-t-c-trong-parent {
    width: 1150px;
    flex-direction: column;
    gap: 9.5px;
  }
  .frame-wrapper27 {
    flex-direction: row;
    padding: 0 var(--padding-12xl);
    box-sizing: border-box;
   
  }
  .kq1-child {
    height: 223px;
    width: 223px;
    position: relative;
    background-color: var(--color-darkseagreen-100);
    display: none;
  }
  .trng-v-khai {
    height: 128px;
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .kq1,
  .kq2-child {
    width: 223px;
    background-color: var(--color-darkseagreen-100);
  }
  .kq1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-lgi) var(--padding-28xl)
      var(--padding-xl);
    box-sizing: border-box;
    z-index: 1;
  }
  .kq2-child {
    height: 223px;
    position: relative;
    display: none;
  }
  .thc-hin-trng {
    margin: 0;
  }
  .thc-hin-trng-container {
    height: 192px;
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .kq2,
  .kq3-child {
    width: 223px;
    background-color: var(--color-darkseagreen-100);
  }
  .kq2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-8xs) var(--padding-smi);
    box-sizing: border-box;
    z-index: 1;
  }
  .kq3-child {
    height: 223px;
    position: relative;
    display: none;
  }
  .u-t-trng {
    height: 192px;
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .kq3,
  .kq4-child {
    width: 223px;
    background-color: var(--color-darkseagreen-100);
  }
  .kq3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-lg) var(--padding-smi);
    box-sizing: border-box;
  }
  .kq4-child {
    height: 223px;
    position: relative;
    display: none;
  }
  .qun-l-chm {
    height: 128px;
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .kq1-parent,
  .kq4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .kq4 {
    height: 223px;
    width: 223px;
    background-color: var(--color-darkseagreen-100);
    justify-content: flex-start;
    padding: var(--padding-24xl) var(--padding-smi);
    box-sizing: border-box;
  }
  .kq1-parent {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-xl);
    font-family: var(--font-noto-sans);
  }
  .frame-parent66,
  .sn-phm-trng-rng-inner4 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent66 {
    width: 1237px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 46.5px;
  }
  .sn-phm-trng-rng-inner4 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-16xl) var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-museomoderno);
  }
  .lin-h-icon5 {
    width: 151.9px;
    height: 32.7px;
    margin: 0 !important;
    position: absolute;
    top: 39.3px;
    right: 201.1px;
    border-radius: var(--br-41xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .footer-child3,
  .frame-child47 {
    position: relative;
    max-width: 100%;
  }
  .footer-child3 {
    height: 318px;
    width: 1440px;
    background-color: var(--color-darkolivegreen-100);
    display: none;
  }
  .frame-child47 {
    align-self: stretch;
    height: 108.2px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    debug_commit: f6aba90;
    z-index: 1;
  }
  .distribute-distributor-icon {
    position: absolute;
    height: 83.14%;
    width: 83.27%;
    top: 12.75%;
    right: 6%;
    bottom: 4.12%;
    left: 10.73%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .f5 {
    position: absolute;
    height: 109.8%;
    width: 83.64%;
    top: -9.8%;
    left: 10.91%;
    font-size: var(--font-size-5xl);
    text-decoration: underline;
    font-family: var(--font-noto-music);
    color: var(--color-black);
    text-align: left;
    display: none;
  }
  .icbaseline-facebook5 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 51px;
    flex: 1;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .anchor-adjustment-icon {
    width: 48px;
    height: 39.3px;
    position: relative;
    object-fit: contain;
    cursor: pointer;
    z-index: 1;
  }
  .anchor-adjustment-wrapper {
    height: 45.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs-8) 0 0;
    box-sizing: border-box;
  }
  .frame-wrapper28,
  .icbaseline-facebook-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .icbaseline-facebook-group {
    flex: 1;
    justify-content: flex-start;
    gap: var(--gap-3xl);
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .frame-wrapper28 {
    width: 160.6px;
    justify-content: flex-end;
    padding: 0 var(--padding-mid-8) 0 var(--padding-lg);
    box-sizing: border-box;
  }
  .frame-parent67 {
    height: 162.3px;
    width: 180.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-9xs-1);
  }
  .a-ch-995,
  .email-tctypisicogmailcom5,
  .tel-0256-39470995,
  .tng-cng-ty5 {
    margin: 0;
  }
  .tng-cng-ty-container6 {
    height: 198.8px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
    font-family: noto sans;
  }
  .footer5,
  .tng-cng-ty-pisico-bnh-nh-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs-7) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .footer5 {
    align-self: stretch;
    background-color: var(--color-darkolivegreen-100);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding-53xl-7) var(--padding-77xl-5) var(--padding-23xl-8)
      var(--padding-109xl);
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-noto-music);
  }
  .offset-offsetter-icon {
    width: 1434.1px;
    height: 3px;
    position: absolute;
    margin: 0 !important;
    top: 130px;
    left: 2.9px;
    object-fit: contain;
    z-index: 1;
  }
  .sn-phm-trng-rng {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    gap: 125px;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  @media screen and (max-width: 1350px) {
    .footer5 {
      justify-content: center;
    }
  }
  @media screen and (max-width: 1150px) {
    .kq1-parent,
    .pisico-binh-dinh-1-parent {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 800px) {
    .rectangle-parent13,
    .rectangle-parent15 {
      min-width: 100%;
    }
    .frame-parent58 {
      gap: 39px;
    }
    .h1 {
      font-size: var(--font-size-32xl);
    }
    .gn-li-ch {
      font-size: var(--font-size-5xl);
    }
    .gn-li-ch-kinh-t-vi-bo-v-wrapper {
      min-width: 100%;
    }
    .h11 {
      font-size: var(--font-size-32xl);
    }
    .frame-parent60 {
      gap: 22px 45px;
    }
    .frame-parent63 {
      flex-wrap: wrap;
    }
    .frame-parent62 {
      gap: 16px 32px;
    }
    .mt-s-kt {
      font-size: var(--font-size-7xl);
    }
    .frame-parent66 {
      gap: 23px 46.5px;
    }
    .footer5 {
      padding-left: var(--padding-45xl);
      padding-right: var(--padding-29xl);
      box-sizing: border-box;
    }
    .sn-phm-trng-rng {
      gap: 62px 125px;
    }
  }
  @media screen and (max-width: 450px) {
    .pisico-khuyn-khch,
    .tng-cng-ty-container5 {
      font-size: var(--font-size-base);
    }
    .frame-parent58 {
      gap: var(--gap-xl);
    }
    .phng-chm {
      font-size: var(--font-size-lgi);
    }
    .h1 {
      font-size: var(--font-size-19xl);
    }
    .gn-li-ch {
      font-size: 18px;
    }
    .h11 {
      font-size: var(--font-size-19xl);
    }
    .l-mt-trong {
      font-size: var(--font-size-base);
    }
    .div8,
    .vn-m-ging {
      font-size: var(--font-size-lgi);
    }
    .xy-dng-t {
      font-size: var(--font-size-base);
    }
    .sn-phm-trng-rng-inner2 {
      padding-bottom: var(--padding-44xl);
      box-sizing: border-box;
    }
    .div9,
    .mt-s-kt,
    .opacity-controller,
    .rng-keo,
    .rng-khuynh-dip {
      font-size: var(--font-size-lgi);
    }
    .qun-l-chm,
    .thc-hin-trng-container,
    .trng-v-khai,
    .u-t-trng {
      font-size: var(--font-size-base);
    }
    .f5,
    .tng-cng-ty-container6 {
      font-size: var(--font-size-lgi);
    }
    .footer5 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .sn-phm-trng-rng {
      gap: 31px 125px;
    }
  }
  